
.container {
  display: flex;
  min-height: 100vh;
  background-color: #dfe0e2;
}

.topBar {
  background-color: #071013;
  color: #DFE0E2;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1; 
}

.topBar h1 {
  margin: 0;
  font-family: "Cinzel-Regular", Helvetica;
  text-transform: uppercase;
  margin-left: 25rem; 
}

/*logout*/

.logoutButton {
  background-color: #DFE0E2;
  border: 2px solid #071013;
  color: #071013;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Cinzel-Regular", Helvetica;
  font-weight: bold;
  transition: all 0.3s;

  margin-right: 0; 
  transform: translateX(-80px); 
}

.sidebar {
  width: 320px;
  background-color: #071013;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 4px solid #DFE0E2;
  position: relative; 
  z-index: 2; 
  border-right: 4px solid #DFE0E2;
}

.logoContainer {
  margin-bottom: 2rem;
  margin-top: -100px;
  position: relative;
  z-index: 2; 
}

.logo {
  border-radius: 50%;
}

.sidebarSection {
  margin-top: 68px;  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}

.sidebarTitle {
  color: #DFE0E2;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: "Cinzel-Regular", Helvetica;
}

/* SIDEBAR */

.sidebarButton {
  width: 288px;
  height: 53px;
  padding: 0.75rem;
  margin-bottom: 1rem;
  background-color: #F77B20;
  color: #071013;
  border: 2px solid #071013;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Cinzel-Regular", Helvetica;
  font-weight: bold;
  transition: all 0.3s;

  position: relative;
  left: 325px;
  top: -130px;
}

.sidebarButton:hover {
  background-color: #E06D1D;
}

.deleteButton {
  background-color: #DFE0E2;
  color: #071013;
  border: 2px solid #071013;
}

.deleteButton:hover {
  background-color: #c7c8ca;
  border-color: #FF9A52;
}

.mainContent {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #dfe0e2;
}

.box {
  width: 1140px;
  height: 681px;
  background-color: #071013;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 20px;
  position: relative;
}

.shapeStyle {
  width: 160px;
  height: 100px;
  background-color: #4a6fa5;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  left: 100px;
  top: 100px;
}

/* TOPBAR LOGO*/
.topBarLogo {
  display: flex;
  align-items: center;
  margin-right: 5rem;
  margin-left: 5rem;
  padding-left: 14rem; 
}

.topBar h1 {
  margin-left: -4rem; 
  flex-grow: 1; 
}

